*.class

# Package Files #
*.war
*.ear
src/main/webapp/WEB-INF/lib/
src/main/webapp/WEB-INF/classes/
.idea
src/main/webapp/WEB-INF/appengine-generated/
.settings
.project
.classpath
target/
out
*.iml
